.footer {
  background-color: #2e7d32;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 16px;
}

.footer-links a:hover {
  text-decoration: rgb(128, 255, 0) underline;
}

.copyright {
  margin-top: 15px;
  font-size: 14px;
}